/.autogit/
/.history/
# Especcially important for"gitdoc.enabled" to avoid conflicts
/.vscode/

Autohotkey/GOG-Galaxy.Installer.exe
Autohotkey/sync.ffs_db
Autohotkey/sync.ffs_lock
sync.ffs_db
sync.ffs_lock
sync.ffs_db
~syncthing~*
*.tmp
*.exe
~syncthing~*.tmp
realtimesst.log
*.asc

# Environments
.env
.envrc
.venv*
venv*
env/
ENV/
env.bak/

# Repo-Spesific ignores (ALL EDITS TO THIS FILE SHOULD BE BELOW THIS LINE)

# s21-silver downloads (scraped binaries, not for version control)
/s21-silver-downloads/some-old-ad/
/s21-silver-downloads/android-apps/
